<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}BridgeBill - Split Bills with Friends. Keep Track of Bills Easily{% endblock %}</title>
	<meta name="description" content="BridgeBill helps you record your expenses, split them with friends and keep track of who owes who." />
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />
</head>
<body>
    <p class="default_message">Oops! Looks like the application has run into some technical problems. Sorry about that!</p>
</body>
</html>

