{% extends 'index.html' %}
{% block title %}BridgeBill - Contact Us{% endblock %}
{% block body %}
<div id="index">
    <div id="index_header">
        <h1><a href="/"><strong class="logo">BridgeBill</strong> - Split Bills and Keep Track of Your Expenses</a></h1>
    </div>
    <div id="footer_content">
        <h2>Contact Us</h2>
        <p class="last_para">I can be reached here: <a href="mailto: arpitrai@gmail.com">Gmail</a>, <a href="http://www.twitter.com/arpitrai">Twitter</a> or <a href="http://wwww.linkedin.com/in/arpitrai">LinkedIn</a></p>
    </div>
    <div id="index_push">
    </div>
</div>
<div id="index_footer">
    <ul class="footer_links"> 
        <li><a href="/about-us/">About Us</a></li>
        <li><a href="/feedback/">Feedback</a></li>
        <!--<li><a href="/contact-us/">Contact Us</a></li>-->
    </ul> 
</div>
{% endblock %}
