{% extends "home.html" %}
{% load humanize %}
{% block title %}BridgeBill - Home - Details{% endblock %}
{% block content %}
<div id="content_one">
{% if bill_list %}
    <p id="home_details_header">Transactions with {{ person_name }}</p>
    <ul id="home_details">
        {% for bill in bill_list %}
        <li>
            <a href="/bill/details/{{ bill.slug }}">
            <span class="home_details_date">{{ bill.date|date:"jS M Y" }}</span>
            <span class="home_details_description">{{ bill.description }}</span>
            <span class="home_details_amount"><span class="{% if bill.flag == "+ve" %}green{% else %}{% if bill.flag == "-ve" %}red{% endif %}{% endif %}">S$ {{ bill.individual_amount|intcomma }}</span></span>
            <span class="home_details_flag">{% if bill.flag == "+ve" %}Owes Me{% else %}{% if bill.flag == "-ve" %}I Owe{% endif %}{% endif %}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Oops....something went wrong!</p>
{% endif %}
</div>
{% endblock %}
