<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}BridgeBill - Split Bills with Friends. Keep Track of Bills Easily{% endblock %}</title>
	<meta name="description" content="Split your bills with friends and keep track of all your bills" />
    <link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/library/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/library/jquery.validate.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/library/jquery-ui-1.9.1.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/library/jquery-ui-1.9.1.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />-->
    <!--<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>-->
</head>
<body>
    {% block body %}
    <div id="index">
        <div id="index_header">
            <h1><a href="/">Split Bills and Keep Track of Your Expenses</a></h1>
        </div>
        <div id="index_description">
            <ol>
                <li>Record your Bills in One Place</li>
                <li>Split your Bills with Friends</li>
                <li>Keep Track of Who Owes Who</li>
            </ol>
        </div>

        <div id="index_divider">
        </div>

        <div id="index_login">
            <div id="index_facebook_login">
                <a href="{% url socialauth_begin 'facebook' %}"><img src="{{ STATIC_URL }}/images/facebook_connect_logo.jpeg" alt="Login Using Facebook" /></a>
            </div>
            <div class="placeholder_a">
                <span>or</span>
            </div>
            <div id="index_login_form">
                <ul>
                    <li>
                        <form name="login" action="" method="post">
                            {% csrf_token %}
                            <ul>
                                <li>
                                    {{ invalid_login }}
                                </li>
                                <li>
                                    <label for="id_username">Your Email </label>
                                    <input id="id_username" type="text" name="username" max_length="30" />
                                </li>
                                <li>
                                    <label for="id_password">Password </label>
                                    <input id="id_password" type="password" name="password" />
                                </li>
                                <li>
                                    <button id="submit" type="submit">Login</button>
                                </li>
                            </ul>
                        </form>
                    </li>
                    <li class="placeholder_b">
                        <a href="/user/forgot-password/">Forgot your password?</a>
                    </li>
                    <li class="placeholder_b">
                        <a href="/user/sign-up/">Don't have an account? Create account</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="index_push">
        </div>
    </div>
    <div id="index_footer">
        <ul class="footer_links"> 
            <li><a href="/about-us/">About Us</a></li>
            <li><a href="/feedback/">Feedback</a></li>
            <li><a href="/contact-us/">Contact Us</a></li>
        </ul> 
    </div>
    {% endblock %}
</body>
</html>
