{% extends "home.html" %}
{% block title %}Record Payment | BridgeBill{% endblock %}
{% block content %}
<div id="content_one">
    <form name="record_payment" id="record_payment" action="/record-payment-full/" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label for="id_date">Date </label>
                {{ payment_form.date }}
            </li>
            <li>
                <label for="id_paid_to">I Paid Who </label>
                <span id="paid_to">{{ lender.first_name }} {{ lender.last_name }}</span>
            </li>
            <li>
                <label for="id_description">Description </label>
                <select name="overall_bill_id">
                    {% for bill_detail in bill_details %}
                        <option value="{{ bill_detail.bill.overall_bill_id }}">{{ bill_detail.bill.description }} (SGD {{ bill_detail.individual_amount }})</option>
                    {% endfor %}
                    {% if bill_details|length > 1 %}
                        <option value='000'>All Bills (SGD {{ all_amount }})</option>
                    {% endif %}
                </select>
            </li>
            <!--<li>
                <label for="id_amount">Amount </label>
                {{ payment_form.amount }}
            </li>-->
            <li>
                <label for="id_remarks">Remarks </label>
                {{ payment_form.remarks }}
            </li>
            <li class="last">
                <button id="save" type="submit">Save</button>
            </li>
        </ul>
        <input type="hidden" name="lender" id="lender" value="{{ lender.email }}" />
        <input type="hidden" name="description" id="description" value="{{ bill_detail.bill.description }}" />
    </form>
</div>
{% endblock %}
