{% extends "home.html" %}
{% block title %}Record Bill | BridgeBill{% endblock %}
{% block content %}
<div id="content_one">
    <form id="equal_split" name="equal_split" action="" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label for="id_date">Date </label>
                {{ bill_form.date }}
            </li>
            <li>
                <label for="id_description">Description </label>
                <input id="id_description" name="description" type="text" maxlength="300" />
            </li>
            <li>
                <label for="id_amount">Total Amount </label>
                {{ bill_form.amount }}
            </li>
            <li class="make_inline">
                <label for="id_debtors">Split Among </label>
                <ul class="people">
                    {% if my_friends %}
                        {% for my_friend in my_friends %}
                            <li><input type="checkbox" name="people" value="{{ my_friend.friend_email }}" />{{ my_friend.friend_name }} {% if request.user.email == my_friend.friend_email %}{% if request.user.first_name or request.user.last_name %}(Me){% else %}Me{% endif %}{%endif%}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <span class="friend_checked">Please select a friend</span>
                <ul class="add_remove_button">
                    <li>
                        <button class="add_friend">Add Friend</button> 
                    </li>
                </ul>
            </li>
            <li class="last">
                <button id="save" type="submit">Save</button>
            </li>
        </ul>
    </form>
</div>
{% endblock %}
