{% extends "home.html" %}
{% load humanize %}
{% block title %}BridgeBill - Bill Details{% endblock %}
{% block content %}
<div id="content_one">
    <p id="home_details_header">Bill Details</p>
    <form id="specific_bill_detail" name="specific_bill_detail" action="" method="post">
        {% csrf_token %}
        <ul class="specific_bill">
            <li>
                <label>Lender </label>
                {% if not user_lender %}
                    <span class="description">{{ bill.lender.user.first_name }} {{ bill.lender.user.last_name }}</span>
                {% else %}
                    <span class="description">{{ userprofile_object.user.first_name }} {{ userprofile_object.user.last_name }}</span>
                {% endif %}
            </li>
            <li>
                <label>Date </label>
                <span class="description">{{ bill.date|date:"jS M Y" }}</span>
            </li>
            <li>
                <label>Description </label>
                <span class="description">{{ bill.description }}</span>
            </li>
            <li>
                <label>Total Amount </label>
                <span class="description">S$ {{ bill.amount }}</span>
            </li>
            <li id="split_between">
                <label>Split Between </label>
                <ul>
                    {% for borrower in borrowers %}
                        <li><span>{{ borrower.borrower.friend_name}} (S$ {{ borrower.individual_amount }})</span></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="last">
                {% if user_lender %}
                    <button id="mark_bill_paid_one" name="mark_bill_paid" type="submit">Mark Bill as Paid</button>
                    <button id="delete_bill_one" name="delete_bill" type="submit">Delete Bill</button>
                    <input type="hidden" name="lender_as_user_yes" value='Y' />
                {% else %}
                    <button id="mark_bill_paid_two" name="mark_bill_paid" type="submit">Mark Bill as Paid</button>
                {% endif %}

            </li>
        </ul>
        <input type="hidden" name="overall_bill_id" value={{ bill.overall_bill_id }} />
        <input type="hidden" name="lender" value={{ bill.lender.user.email }} />
    </form>
</div>
{% endblock %}
