{% extends 'index.html' %}
{% block title %}BridgeBill - Create Account{% endblock %}
{% block body %}
<div id="index">
    <div id="index_header">
        <h1><a href="/"><strong class="logo">BridgeBill</strong> - Split Bills and Keep Track of Your Expenses</a></h1>
    </div>
    <div id="user_signup">
        <div class="sub_header">
            <span class="title">Sign-up using Facebook or Enter details below</span>
        </div>
        <div id="index_facebook_login">
            <a href="{% url socialauth_begin 'facebook' %}"><img src="{{ STATIC_URL }}/images/facebook_connect_logo.jpeg" alt="Login Using Facebook" /></a>
        </div>
        <div class="placeholder_a">
            <span>or</span>
        </div>
        <div id="user_signup_form">
            <ul>
                <li>
                    <form id="user_signup_form_minjs" name="user_signup" action="" method="post">
                        {% csrf_token %}
                        <ul>
                            <li>
                                <label class="index" for="id_firstname">Your Name </label>
                                <input id="id_firstname" type="text" name="firstname" maxlength="60" />
                            </li>
                            <li>
                                <label class="index" for="id_username">Your Email </label>
                                <input id="id_username" type="text" name="username" maxlength="75" />
                            </li>
                            <li>
                                <label class="index" for="id_password1">Password </label>
                                <input id="id_password1" type="password" name="password1" />
                            </li>
                            <li>
                                <label class="index" for="id_password2">Password <span class="small">(again)</span> </label>
                                <input id="id_password2" type="password" name="password2" />
                            </li>
                            <li class="last">
                                <button id="save" type="submit">Sign-Up!</button>
                            </li>
                        </ul>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div id="index_push">
    </div>
</div>
<div id="index_footer">
    <ul class="footer_links"> 
        <li><a href="/about-us/">About Us</a></li>
        <li><a href="/feedback/">Feedback</a></li>
        <!--<li><a href="/contact-us/">Contact Us</a></li>-->
    </ul> 
</div>
{% endblock %}
