{% extends 'index.html' %}
{% block title %}Create Account | BridgeBill {% endblock %}
{% block body %}
<div id="user_signup">
    <div class="header">
        <span class="title">Sign up for BridgeBill</span>
    </div>
    <div id="index_facebook_login">
        <a href="{% url socialauth_begin 'facebook' %}"><img src="{{ STATIC_URL }}/images/facebook_connect_logo.jpeg" alt="Login Using Facebook" /></a>
    </div>
    <div class="placeholder_a">
        <span>or</span>
    </div>
    <div id="user_signup_form">
        <ul>
            <li>
                <form id="user_signup_form_minjs" name="user_signup" action="" method="post">
                    {% csrf_token %}
                    <ul>
                        <li>
                            <label for="id_firstname">First Name </label>
                            <input id="id_firstname" type="text" name="id_firstname" max_length="30" />
                        </li>
                        <li>
                            <label for="id_lastname">Last Name </label>
                            <input id="id_lastname" type="text" name="id_lastname" max_length="30" />
                        </li>
                        <li>
                            <label for="id_username">Email </label>
                            <input id="id_username" type="text" name="id_username" max_length="30" />
                        </li>
                        <li>
                            <label for="id_password">Password </label>
                            <input id="id_password" type="password" name="id_password" />
                        </li>
                        <li>
                            <button id="submit" type="submit">Sign-Up</button>
                        </li>
                    </ul>
                </form>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
