{% extends "home.html" %}
{% load humanize %}
{% block title %}Who I Owe | BridgeBill{% endblock %}
{% block content %}
<div id="content_one">
   <h3>Details of Who I Owe, For What, When.....</h3>
    {% if my_lenders %}
        <table class="base_table who_i_owe_table">
            <thead>
                <tr>
                    <th class="name">Name</th>
                    <th class="date">Date</th>
                    <th class="activity">Activity</th>
                    <th class="amount">Total (in SGD)</th>
                </tr>
            </thead>
            <tbody>
                {% for my_lender in my_lenders %}
                    <tr>
                        <td><a href="/bill/details/{{ my_lender.bill.overall_bill_id }}/">{{ my_lender.bill.lender.first_name }} {{ my_lender.bill.lender.last_name }}</a></td>
                        <td><a href="/bill/details/{{ my_lender.bill.overall_bill_id }}/">{{ my_lender.bill.date|date:"dS M Y" }}</a></td>
                        <td><a href="/bill/details/{{ my_lender.bill.overall_bill_id }}/">{{ my_lender.bill.description }}</a></td>
                        <td><a href="/bill/details/{{ my_lender.bill.overall_bill_id }}/">{{ my_lender.individual_amount|intcomma }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Congratulations! You've cleared all your loans! You don't have any dues!</p>
    {% endif %}
</div>
{% endblock %}
