{% extends "home.html" %}
{% load humanize %}
{% block title %}BridgeBill - Who Owes Me{% endblock %}
{% block content %}
<div id="content_one">
   <p class="page_header" >Details of Who Owes Me</p>
    {% if my_borrowers %}
        <table class="base_table" id="who_owes_me_table">
            <thead>
                <tr>
                    <th class="date">Date</th>
                    <th class="name">Name</th>
                    <th class="description">Description</th>
                    <th class="amount">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for my_borrower in my_borrowers %}
                    <tr>
                        <td class="date"><a href="/bill/details/{{ my_borrower.bill.overall_bill_id }}/">{{ my_borrower.bill.date|date:"jS M Y" }}</a></td>
                        <td class="name"><a href="/bill/details/{{ my_borrower.bill.overall_bill_id }}/">{{ my_borrower.borrower.friend_name }}</a></td>
                        <td class="description"><a href="/bill/details/{{ my_borrower.bill.overall_bill_id }}/">{{ my_borrower.bill.description }}</a></td>
                        <td class="amount"><a href="/bill/details/{{ my_borrower.bill.overall_bill_id }}/">S$ {{ my_borrower.individual_amount|intcomma }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You haven't made any loans!</p>
    {% endif %}
</div>
{% endblock %}
