{% extends "home.html" %}
{% load humanize %}
{% block title %}BridgeBill - Who I Owe{% endblock %}
{% block content %}
<div id="content_one">
   <p class="page_header">Details of Who I Owe</p>
    {% if my_lenders %}
        <table class="base_table" id="who_i_owe_table">
            <thead>
                <tr>
                    <th class="date">Date</th>
                    <th class="name">Name</th>
                    <th class="description">Description</th>
                    <th class="amount">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for my_lender in my_lenders %}
                    <tr>
                        <td class="date"><a href="/bill/details/{{ my_lender.bill_overall_bill_id }}/">{{ my_lender.bill_date|date:"jS M Y" }}</a></td>
                        <td class="name"><a href="/bill/details/{{ my_lender.bill_overall_bill_id }}/">{{ my_lender.lender_name }}</a></td>
                        <td class="description"><a href="/bill/details/{{ my_lender.bill_overall_bill_id }}/">{{ my_lender.bill_description }}</a></td>
                        <td class="amount"><a href="/bill/details/{{ my_lender.bill_overall_bill_id }}/">S$ {{ my_lender.bill_individual_amount|intcomma }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Congratulations! You've cleared all your loans! You don't have any dues!</p>
    {% endif %}
</div>
{% endblock %}
