<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Home | BridgeBill - Split Bills with Friends. Keep Track of Bills Easily</title>
	<meta name="description" content="Split your bills with friends and keep track of all your bills" />
    <!--<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />-->
    <link media="all" rel="stylesheet" type="text/css" href="../static/css/all.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/all.js"></script>
</head>
<body>
    <div id="main_container">
        <div id="header_options">
            <ul>
                <li><a href="profile">My Profile</a></li>
                <li><a href="logout">Logout</a></li>
            </ul>
        </div>
        <div id="menu">
            <ul class="menu_urls">
                <li><a href="/user/home">Home</a></li>
                <li><a href="/user/who-owes-me">Who Owes Me</a></li>
                <li><a href="/user/who-i-owe">Who I Owe</a></li>
                <li><a href="/user/record-bill">Record Bill</a></li>
                <li><a href="/user/record-payment">Record Payment</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="content_one">
                <p>Who Owes Me (Total: SGD 90)</p>
                <table class="general_table home_table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Total (in SGD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Prantik Mazumdar</td>
                            <td>prantik.mazumdar@gmail.com</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>Rachit Dayal</td>
                            <td>rachit.dayal@gmail.com</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>Ravish Khanna</td>
                            <td>ravish.khanna@gmail.com</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="content_two">
                <p>Who I Owe (Total: SGD 90)</p>
                <table class="general_table home_table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Total (SGD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kat</td>
                            <td>karthik.ashwin@gmail.com</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Shivanu Shukla</td>
                            <td>shivanu.shukla@gmail.com</td>
                            <td>20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="push">
        </div>
    </div>
    <div id="footer">
        <ul class="general_links"> 
            <li class="general_links_footer"><a href="/about-us">About Us</a></li>
            <li class="general_links_footer"><a href="/feedback">Feedback</a></li>
            <li class="general_links_footer"><a href="/contact-us">Contact Us</a></li>
        </ul> 
    </div>
</body>
</html>
