/* Start - Site Wide Declaration */
body{
	margin: 0;
    padding: 0;
	font:18px/25px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background: url(../images/subtlenet2.png) repeat center top #b8e1e5;*/
    background: #FBFBFB;
}

a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
}

label.index {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
    width: 125px;
}

input, textarea {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    font-size: 16px;
    height: 20px;
    padding: 5px 10px;
    width: 394px;
}

input[type="checkbox"] {
    width: 30px;
    padding: 0;
}

input:focus, textarea:focus {
    border: 1px solid #BBBBBB;
}

img {
    vertical-align: middle;
}

span.error_django {
    font-size: 14px;
    color: #8B0000;
    background-color:#FEE0C6; 
    padding: 5px 6px 4px;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    margin-left: 5px;
}

span.error {
    display: none !important;
}

input.error {
    border: 1px solid #c04355 !important;
}

input.error_2 {
    border: 1px solid #c04355;
}

select.valid, form#unequal_split table#unequal_split_people_table select.valid {
    border: 1px solid #DDDDDD !important;
}

select.error, form#unequal_split table#unequal_split_people_table select.error {
    border: 1px solid #c04355 !important;
}

select.error_2, form#unequal_split table#unequal_split_people_table select.error_2 {
    border: 1px solid #c04355;
}

input.valid {
    border: 1px solid #DDDDDD !important;
}

input.valid_2 {
    border: 1px solid #DDDDDD;
}

li.last button {
    -webkit-transition: border 500ms;
    -moz-transition: border 500ms;
    -ms-transition: border 500ms;
    -o-transition: border 500ms;
    transition: border 500ms;
    background-color: #F2F0F0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfafb), color-stop(50%, #f9f7f7), color-stop(50%, #f6f3f4), color-stop(100%, #f0eded));
    background-image: -webkit-linear-gradient(#fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
    background-image: -moz-linear-gradient(#fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
    background-image: -o-linear-gradient(#fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
    background-image: -ms-linear-gradient(#fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
    background-image: linear-gradient(#fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
    border: 1px solid #D7D7D7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
    color: #4D4D4D;
    cursor: pointer;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 37px;
    line-height: 16px;
    margin: 0 auto;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    width: 100%;
}

li.last button:hover {
    border: 1px solid #C3C3C3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfcfc), color-stop(50%, #fbf9f9), color-stop(50%, #f7f5f6), color-stop(100%, #f2f0f0));
    background-image: -webkit-linear-gradient(#fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0);
    background-image: -moz-linear-gradient(#fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0);
    background-image: -o-linear-gradient(#fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0);
    background-image: -ms-linear-gradient(#fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0);
    background-image: linear-gradient(#fdfcfc, #fbf9f9 50%, #f7f5f6 50%, #f2f0f0);
}

li.last button:active {
    border: 1px solid #b7b7b7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f4f5), color-stop(50%, #f3f0f0), color-stop(50%, #f1eeef), color-stop(100%, #ebe8e8));
    background-image: -webkit-linear-gradient(#f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8);
    background-image: -moz-linear-gradient(#f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8);
    background-image: -o-linear-gradient(#f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8);
    background-image: -ms-linear-gradient(#f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8);
    background-image: linear-gradient(#f8f4f5, #f3f0f0 50%, #f1eeef 50%, #ebe8e8);
    -webkit-box-shadow: rgba(34, 25, 25, 0.25) 0px 1px 2px inset, rgba(232, 230, 230, 0.5) 0px 0px 3px;
    -moz-box-shadow: rgba(34, 25, 25, 0.25) 0px 1px 2px inset, rgba(232, 230, 230, 0.5) 0px 0px 3px;
    box-shadow: rgba(34, 25, 25, 0.25) 0px 1px 2px inset, rgba(232, 230, 230, 0.5) 0px 0px 3px;
}

div#user_signup_form ul li label.error {
    width: 25px;
	background: url(../images/incorrect.gif) no-repeat 8px 8px;
}

div#user_signup_form ul li label.valid {
	background: url(../images/correct.gif) no-repeat 8px 8px;
}

form#my_profile label.error {
    display: none;
}

p.default_message {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 30px;
    color: #444444;
}

p.default_message a {
    font-weight: 600;
    color: #B1581E;
    text-decoration: underline;
}

p.default_message a:hover {
    color: #854517;
}
/* End - Site Wide Declaration */


/* Start - Index Page */
div#index, div#home {
    width: 100%;
    position: relative;
}

div#index_header {
    width: 100%;
    margin: 50px 0 100px 0;
}

strong.logo {
    font-size: 36px;
    /*color: #B15B1E*/
}

div#index_header h1 {
    width: 910px;
    margin-left: auto;
    margin-right: auto;
}

div#index_header h1:hover {
    text-decoration: underline;
}

div#index_header h1 a, div#home_header_1 h1 a {
    color: #333333;
    font-size: 35px;
    font-weight: 500;
}

div#index_description {
    width: 550px;
    float: left;
    margin-top: 30px;
}

div#index_description ol {
    list-style-type: decimal;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    font-size: 27px;
    font-weight: 400; 
    color: #7A7A7A;
}

div#index_description ol li {
    margin-bottom: 25px;
}

div#index_description ol li span.highlight_index {
    text-decoration: underline;
    color: #333333;
    font-weight: 500;
}

div#index_divider {
    float: left;
    margin-top: -40px;
    height: 340px;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

div#index_login {
    width: 360px;
    float: left;
    margin-left: 100px;
    margin-top: -30px;
    /*background: #FFFFFF;*/
    background: -webkit-linear-gradient(top, #FFFFFF 10%, #F5F5F5 18%) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(center top , #FFFFFF 10%, #F5F5F5 18%) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(top, #FFFFFF 10%, #F5F5F5 18%) repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(top, #FFFFFF 10%, #F5F5F5 18%) repeat scroll 0 0 transparent;
    background: linear-gradient(top, #FFFFFF 10%, #F5F5F5 18%) repeat scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
}

div#index_facebook_login {
    margin: 25px auto 0px auto;
    padding-bottom: 20px;
    text-align: center;
    width: 350px;
    border-bottom: 1px solid #DDDDDD;
}

div.placeholder_a {
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -14px;
    color: #76787D;
    font-size: 13px;
    font-weight: 300;
    background: none repeat scroll 0 0 #F5F5F5;
    text-align: center;
}

div#index_login_form {
    width: 300px;
    margin: 20px auto;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

div#index_login_form form ul li {
    margin-bottom: 15px;
}

div#index_login_form ul li label {
    width: 90px;
    display: inline-block;
}

div#index_login_form ul li input {
    width: 175px;
}

div#index_login_form ul li button {
}

div#index_login_form ul li.placeholder_b {
    text-align: center;
}

div#index_login_form ul li.placeholder_b a {
    font-size: 14px;
    color: #B15B1E;
}

div#index_login_form ul li.placeholder_b a:hover {
    text-decoration: underline;
    color: #854517;
}

li#login_error {
    background-color:#FEE0C6; 
    font-size: 14px;
    color: #8B0000;
    padding: 5px 8px 4px;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
}
/* End - Index Page */

/* Start - User Signup Page */
div#user_signup, div#forgot_password {
    width: 550px;
    margin: -50px auto 0 auto;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
}

div.sub_header {
    border-radius: 5px 5px 0 0;
    background: url(../images/header-bg.png) repeat scroll 0 0 transparent;
    height: 72px;
    width: 100%;
    text-align: center;
}

span.title {
    /*color: #066EAC;*/
    color: #777777;
    font-size: 24px;
    line-height: 72px;
}

div#user_signup div.placeholder_a, div#forgot_password div.placeholder_a {
    background: #FFFFFF;
}

div#user_signup_form, div#forgot_password_form {
    margin: 20px auto;
    width: 430px;
}

div#user_signup_form ul li, div#forgot_password_form ul li {
    margin-bottom: 15px;
}

div#user_signup_form ul li label, div#forgot_password_form ul li label {
    display: inline-block;
    width: 125px;
}

div#user_signup_form ul li input, div#forgot_password_form ul li input {
    width: 240px;
}

div#user_signup_form ul li button, div#forgot_password_form ul li button {
    margin-left: 0;
    width: 400px;
}

div#user_signup_form span.small {
    font-size: 13px;
}
/* End - User Signup Page */

/* Start - Home Page - Base Template */
div#home_header {
    position: relative;
    overflow: auto;
}

div#home_header_1 {
    width: 180px;
    margin: 50px 0 0 120px;
    float: left;
}

div#home_header_1 h1 a {
    color: #333333;
    font-size: 35px;
    font-weight: 500;
}

div#home_header_2 {
    width: 220px;
    margin-top: 50px;
    margin-right: 30px;
    float: right;
}

div#home_header_2 ul {
}

div#home_header_2 ul li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    padding: 1px 5px;
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    -ms-border-radius: 99px;
    -o-border-radius: 99px;
    border-radius: 99px;
    background: #EEEEEE;
    border-bottom: 1px white solid;
}

div#home_header_2 ul li:last-child {
    margin-right: 0;
}

div#home_header_2 ul li:hover {
    background: #EEEEEE;
    border-bottom: 1px white solid;
}

div#home_header_2 ul li a {
    display: block;
    color: #777777;
    padding: 3px 10px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}

div#home_header_2 ul li a:hover {
    color: #555555;
}

div#home_header_2 ul li.currentLink a {
    color: #555555;
    text-decoration: underline;
}

div#home_menu_and_content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: auto;
    background: #ffffff;
    margin-top: 40px;
    border-top: 1px solid #D4D4D4;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05) inset, 0 0 9px rgba(0, 0, 0, 0.1);
    /*background-image: -moz-linear-gradient(#FFFFFF, #FBFBFB);*/
    /*-moz-border-bottom-colors: none;*/
    /*-moz-border-image: none;*/
    /*-moz-border-left-colors: none;*/
    /*-moz-border-right-colors: none;*/
    /*-moz-border-top-colors: none;*/
    /*border-color: #EEEEEE #F4F4F4 -moz-use-text-color;*/
    /*border-style: solid solid none;*/
    /*border-top-left-radius: 10px;*/
    /*border-top-right-radius: 10px;*/
    /*border-width: 1px 1px medium;*/
}

div#home_menu {
    /*width: 150px;*/
    width: 180px;
    margin-left: 100px;
    padding: 10px;
    float: left;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

div#home_menu, div#home_content {
    margin-top: 20px;
    margin-bottom: 20px;
}

div#home_menu ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 2px 5px;
}

div#home_menu ul ul {
    margin-left: 10px;
    display: none;
}

div#home_menu ul li {
    color: #797874;
    font-size: 16px;
    line-height: 36px;
    padding-left: 8px;
}

div#home_menu ul li.currentLink {
    background: none repeat scroll 0 0 #ECF1EF;
    background: none repeat scroll 0 0 #E0EEEE;
    background: none repeat scroll 0 0 #E5E5E5;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

div#home_menu ul li:hover {
    text-decoration: underline;
}

div#home_menu ul li a {
    display: block;
    text-decoration: none;
    color: #003399;
    color: #00008B;
    color: #36A9AE;
}

div#home_content {
    width: 740px;
    float: left;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    /*border-radius: 15px;*/
    /*-webkit-border-radius: 15px;*/
    /*-moz-border-radius: 15px;*/
    /*-ms-border-radius: 15px;*/
    /*-o-border-radius: 15px;*/
    margin-left: 8px;
}

div#home_content div {
    margin: 10px 10px;
}

div#content_one {
    min-height: 300px;
}
/* End - Home Page - Base Template */

/* Start - Home Page */
div#content_one ul#home_overview, form#record_bill_option ul, form#equal_split ul, form#unequal_split ul, form#record_payment_initial ul, form#record_payment ul, form#my_profile ul, form#change_password {
    width: 440px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 60px;
}

div#content_one ul#home_overview {
    width: 460px;
}

div#content_one ul#home_overview li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

div#content_one ul#home_overview li a {
    padding-top: 15px;
    padding-bottom: 15px;
}

div#content_one ul#home_overview li:hover {
    background-color: #ECF1EF;
}

div#content_one ul#home_overview li a {
    display: block;
    color: #444444;
}

div#content_one ul#home_overview li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

div#content_one ul#home_overview li span.home_name {
    width: 210px;
    padding-left: 10px;
    display: inline-block;
    color: #444444;
}

div#content_one ul#home_overview li span.home_total {
    width: 130px;
    display: inline-block;
    color: #444444;
}

div#content_one ul#home_overview li span.home_total_flag {
    width: 100px;
    font-size: 16px;
    display: inline-block;
    color: #797874;
    color: #999999;
}

div#content_one ul li span.green {
    border-bottom: 4px solid green;
}

div#content_one ul li span.red {
    border-bottom: 4px solid red;
}

div#content_one ul li span.blue {
    border-bottom: 4px solid blue;
}
/* End - Home Page */

/* Start - Home Details, Who I Owe and Who Owes Me Pages*/
div#content_one p#home_details_header, div#content_one p.page_header {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 30px;
    color: #444444;
}

div#content_one ul#home_details, div#content_one table.base_table {
    width: 580px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 60px;
}


div#content_one ul#home_details li, div#content_one table.base_table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

div#content_one table.base_table thead tr {
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    border-top: 3px solid rgba(0, 0, 0, 0.15);
}

div#content_one table.base_table tbody tr:last-child {
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}

div#content_one ul#home_details li a, div#content_one table.base_table tr a {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    color: #444444;
}

div#content_one ul#home_details li:hover, div#content_one table.base_table tr:hover {
    background-color: #ECF1EF;
}

div#content_one ul#home_details li:first-child, div#content_one table.base_table tbody tr:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

div#content_one ul#home_details li span {
}

div#content_one ul#home_details li span.home_details_date, div#content_one table.base_table .date {
    font-size: 14px;
    font-weight: 400;
    width: 120px;
    padding-left: 10px;
    display: inline-block;
    color: #444444;
}

div#content_one ul#home_details li span.home_details_date {
    width: 110px;
}

div#content_one ul#home_details li span.home_details_description, div#content_one table.base_table .description {
    width: 240px;
    display: inline-block;
    color: #444444;
}

div#content_one ul#home_details li span.home_details_amount, div#content_one table.base_table .amount {
    width: 130px;
    display: inline-block;
    color: #444444;
}

div#content_one ul#home_details li span.home_details_amount {
    margin-left: 12px;
    width: 110px;
}

div#content_one ul#home_details li span.home_details_flag {
    width: 62px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    color: #797874;
    color: #999999;
}
/* End - Home Details, Who I Owe and Who Owes Me Pages*/

/* Start - Specific Bill Page */
div#content_one form ul.specific_bill {
    width: 420px;
    list-style-type: none;
    margin-top: 20px;
    margin-left: 60px;
    padding-left: 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
}

div#content_one form ul.specific_bill li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

div#content_one form ul.specific_bill li:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 5px;
    margin-top: 5px;
}

div#content_one form ul.specific_bill li:last-child {
    border-bottom: 0;
}

div#content_one ul.specific_bill ul li {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}

div#content_one form#specific_bill_detail span {
    margin-left: 5px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #E1A60A;
}

div#content_one form#specific_bill_detail ul li label {
    width: 120px;
    padding-left: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

div#content_one form#specific_bill_detail ul li ul {
    display: inline-block;
    vertical-align: top;
    width: 280px;
    margin: 0;
    padding: 0;
}

div#content_one form#specific_bill_detail ul li.last {
    margin-top: 20px;
}

button#mark_bill_paid_one, button#delete_bill_one {
    width: 180px;
    float: left;
    display: inline-block;
}

button#delete_bill_one {
    float: right;
}
/* End - Specific Bill Page */

/* Start - Who Owes Me & Who I Owe Page */
div#content_one table.base_table {
    width: 640px;
    border-collapse: collapse;
    text-align: left;
}

div#content_one table.base_table th {
    font-weight: 500;
}

div#content_one table.base_table td.date, div#content_one table.base_table td.name, div#content_one table.base_table td.description, div#content_one table.base_table td.amount {
    font-weight: 400;
    font-size: 15px;
}

div#content_one table.base_table .date {
    width: 100px;
    font-weight: 500;
    padding-left: 20px;
    font-size: 17px;
}

div#content_one table.base_table .name {
    width: 160px;
    padding-left: 10px;
    display: inline-block;
    color: #444444;
}

div#content_one table.base_table .description {
    width: 220px;
}

div#content_one table.base_table .amount {
    width: 110px;
}

div#content_one table.base_table thead tr:hover {
    background-color: #FFFFFF;;
}

th.header {
    background-image: url(../images/tablesorter/bg.gif);
    cursor: pointer;
    background-repeat: no-repeat;
}

th.headerSortUp {
    background-image: url(../images/tablesorter/asc.gif); 
} 

th.headerSortDown {
    background-image: url(../images/tablesorter/desc.gif); 
} 

th.date.header {
    background-position: 53px 9.5px;
}

th.date.headerSortUp {
    background-position: 53px 13.5px;
}

th.date.headerSortDown {
    background-position: 53px 11px;
}

th.name.header {
    background-position: 52px 9.5px;
}

th.name.headerSortUp {
    background-position: 52px 13.5px;
}

th.name.headerSortDown {
    background-position: 52px 11px;
}

th.description.header {
    background-position: 86px 9.5px;
}

th.description.headerSortUp {
    background-position: 86px 13.5px;
}

th.description.headerSortDown {
    background-position: 86px 11px;
}

th.amount.header {
    background-position: 58px 9.5px;
}

th.amount.headerSortUp {
    background-position: 58px 13.5px;
}

th.amount.headerSortDown {
    background-position: 58px 11px;
}
/* End - Who Owes Me & Who I Owe Page */

/* Start - Record Bill Option and Payment Initial Page */
form#record_bill_option ul, form#record_payment_initial ul {
    font-size: 18px;
    width: 155px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

form#record_payment_initial ul {
    width: 305px;
}

form#record_bill_option ul li, form#record_payment_initial ul li {
    margin-top: 10px;
    display: block;
    position: relative;
    padding: 5px 0;
}

form#record_bill_option ul li label, form#record_payment_initial ul li label {
    margin-left: 5px;
}

form#record_bill_option ul li input {
    width: 20px;
    position: absolute;
    top: 6px;
    right: 0;
}

form#record_payment_initial ul li.last {
    margin-top: 20px;
}

form#record_payment_initial ul li select {
    font-size: 14px;
    -webkit-appearance: menulist-button;
    border: 1px solid #DDDDDD;
    vertical-align: middle;
    position: relative;
    top: -1.5px;
    left: 13px;
}
/* End - Record Bill Option and Payment Initial Page */

/* Start - Record Bill, Equal Split, Un-Equal Split and Record Payment pages */
form#equal_split ul, form#unequal_split ul, form#record_payment ul, form#my_profile ul, form#change_password ul {
    font-weight: 400;
    width: 560px;
    color: rgba(0, 0, 0, 0.8);
}

form#equal_split ul, form#unequal_split ul {
    width: 720px;
}

form#equal_split ul li, form#unequal_split ul li, form#record_payment ul li, form#my_profile ul li, form#change_password ul li {
    margin-top: 10px;
}

form#equal_split ul li.last, form#unequal_split ul li.last, form#record_payment ul li.last, form#my_profile ul li.last, form#change_password ul li.last {
    margin-top: 20px;
}

form#equal_split ul li label, form#unequal_split ul li label, form#record_payment ul li label, form#my_profile ul li label, form#change_password ul li label {
    font-weight: 600;
    width: 120px;
    display: inline-block;
}

form#equal_split ul li.make_inline, form#unequal_split ul li.make_inline {
    overflow: auto;
    width: 100%; 
}

form#equal_split ul li.make_inline label, form#unequal_split ul li.make_inline label {
    float: left;
}

form#equal_split ul li ul.people, form#equal_split ul li ul.add_remove_button {
    float: left;
    width: 430px;
    font-size: 16px;
    margin: 0;
}

form#equal_split ul li ul.people li {
    margin-top: 0;
    margin-bottom: 4px;
}

form#equal_split ul li ul.people li:last-child {
    margin-bottom: 0;
}

form#equal_split ul li ul li input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    vertical-align: middle;
    position: relative;
    top: -1.5px;
}

form#equal_split ul li.make_inline ul li label {
    float: none;
    width: 300px;
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-weight: 400;
    vertical-align: middle;
}

form#equal_split ul li.make_inline ul li span.me {
    font-size: 12px;
}

input.dynamic_add_in {
    width: 120px;
    margin-right: 5px;
    padding: 2px 6px;
    font-size: 13px;
}

input.dynamic_add_in.email_new {
    width: 160px;
}

span.friend_checked {
    float: left;
    font-size: 14px;
    color: #8B0000;
    background-color:#FEE0C6; 
    padding: 5px 6px 4px;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    visibility: hidden;
}

form#unequal_split span.friend_checked {
}

form#equal_split ul li ul.add_remove_button {
    margin-left: 128px;
}

form#unequal_split ul li button.add_friend {
    margin-left: 133px;
}

form#equal_split ul li ul.add_remove_button li button.add_friend, form#unequal_split ul li button.add_friend {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    padding: 5px 20px ;
    font-size: 15px;
    line-height: 15px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    cursor: pointer !important;
    text-decoration: none;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.15);
    background: #36a9ae;
    background: -webkit-gradient(linear, left top, left bottom, from(#62cace), to(#2d8d91));
    background: -moz-linear-gradient(top, #62cace, #2d8d91);
    background: -o-linear-gradient(top, #62cace, #2d8d91);
    border: 1px solid #2a8387;
    transition: all 0.05s ease-in-out;
    -webkit-transition: all 0.05s ease-in-out;
    -moz-transition: all 0.05s ease-in-out;
}

form#equal_split ul li ul.add_remove_button li button.add_friend:hover, form#unequal_split ul li button.add_friend:hover { 
    color: white;
    text-decoration: none;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.4);
}

form#equal_split ul li ul.add_remove_button li button.add_friend:active, form#unequal_split ul li button.add_friend:active { 
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 1px rgba(0, 0, 0, 0.4);
}

input.remove_friend {
    font-size: 20px;
    height: 24px;
    width: 20px;
    border: 0;
    border-radius: 0;
    background-color: #FFFFFF; 
    padding: 0;
    cursor: pointer;
}

form#equal_split li.last button, form#unequal_split li.last button, form#record_payment li.last button, form#my_profile li.last button, form#change_password li.last button {
    margin-left: 0;
    width: 543px;
}
/* End - Record Bill Equal Split, Un-Equal Split and Record Payment pages */

/* Start - Record Bill Un-Equal Split page */
table#unequal_split_people_table {
    margin-top: 5px;
    width: 420px;
    table-layout: fixed;
    float: left;
}

table#unequal_split_people_table th {
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    color: #797874;
}

table#unequal_split_people_table td {
    vertical-align: middle;
    text-align: center;
    padding: 5px 3px;
}

table#unequal_split_people_table th {
    text-align: center;
}

table#unequal_split_people_table th.name {
    width: 200px;
}

table#unequal_split_people_table th.number {
    width: 100px;
}

table#unequal_split_people_table th.amount {
    width: 90px;
}

table#unequal_split_people_table tbody select {
    font-size: 13px;
    height: 22px;
    -webkit-appearance: menulist-button;
    border: 1px solid #DDDDDD;
}

table#unequal_split_people_table tbody td.name select {
    width: 180px;
}

table#unequal_split_people_table th.remove_placeholder {
    width: 50px;
}

table#unequal_split_people_table td.name input {
    width: 180px;
    margin-bottom: 2px;
}

table#unequal_split_people_table td.amount input {
    width: 66px;
    padding: 2px 6px;
}

table#unequal_split_people_table td.remove_table_row {
    text-align: left;
    padding: 0;
}
/* End - Record Bill Un-Equal Split page */

/* Start - Record Payment page */
form#record_payment span#paid_to {
    font-size: 16px;
}

form#record_payment select {
    font-size: 14px;
    -webkit-appearance: menulist-button;
    border: 1px solid #DDDDDD;
}
/* End - Record Payment page */

/* Start - My Profile Page */
form#my_profile a {
    text-decoration: underline;
    color: #B1581E;
}   

form#my_profile a:hover {
    text-decoration: underline;
    color: #854517;
}

form#my_profile button#edit {
    width: 340px;
}
/* End - My Profile Page */

/* Start - Change Password Page */
form#change_password ul {
    width: 730px;
}

form#change_password ul li label {
    width: 200px;
}

form#change_password ul li input {
    width: 230px;
}

form#change_password li.last button {
    width: 460px;
}
/* End - Change Password Page */

/* Start - Footer */
html, body {
    height: 100%;
}

div#index, div#home {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /*margin: 0 auto -30px;*/
}

div#index_footer, div#index_push, div#home_footer, div#home_push {
    clear: both;
    margin: auto;
    height: 30px;
}

div#index_footer, div#home_footer {
}

div#index_footer ul, div#home_footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

div#index_footer ul li, div#home_footer ul li {
    display: inline-block;
    margin: 0 30px 0 0;
    width: 70px;
}

div#index_footer ul li:last-child, div#home_footer ul li:last-child {
    margin-right: 0;
}

div#index_footer ul li a, div#home_footer ul li a {
    font-size: 12px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    display: block;
}

div#index_footer ul li a:hover, div#home_footer ul li a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
}

div#index_footer ul li.currentLink a, div#home_footer ul li.currentLink a {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    text-decoration: none;
}

div#footer_content {
    width: 68%;
    margin: -40px auto 0 auto;
    color: #333333;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    -o-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.02), 0, 0, 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.02), 0, 0, 3px;
    box-shadow: rgba(0, 0, 0, 0.02), 0, 0, 3px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #fbfbfb));
    background-image: -webkit-linear-gradient(#ffffff, #fbfbfb);
    background-image: -moz-linear-gradient(#ffffff, #fbfbfb);
    background-image: -o-linear-gradient(#ffffff, #fbfbfb);
    background-image: -ms-linear-gradient(#ffffff, #fbfbfb);
    background-image: linear-gradient(#ffffff, #fbfbfb);
    border: 1px solid #eee;
    border-right-color: #f4f4f4;
    border-left-color: #f4f4f4;
    border-bottom: none;
    padding: 20px;
}

div#footer_content h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
    padding-bottom: 5px;
    padding-left: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}

div#footer_content p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
}

div#footer_content .last_para {
    margin-bottom: 0;
}

div#footer_content p a {
    color: #B15B1E;
}

div#footer_content p a:hover {
    color: #854517;
    text-decoration: underline;
}

div#footer_content div#feedback {
    margin-left: 5px;
    margin-top: 20px;
    width: 700px;
}

div#footer_content div#feedback ul li {
    margin-bottom: 5px;
}

div#footer_content div#feedback ul li#feedback_message {
    margin-bottom: 20px;
}

div#footer_content div#feedback label {
    width: 75px;
    display: inline-block;
    text-align: right;
}

div#footer_content div#feedback label, div#footer_content div#feedback input, div#footer_content div#feedback textarea {
    vertical-align: top;
}

div#footer_content div#feedback input, div#footer_content div#feedback textarea {
    width: 350px;
}

div#footer_content div#feedback textarea {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    height: 125px;
    line-height: 20px;
}

div#footer_content div#feedback form#feedback_form ul li.last button#save {
    margin-left: 0;
    padding-left: 0;
    width: 460px;
}

textarea.error {
    border: 1px solid #c04355;
}
/* End - Footer */
